my_problems/masterclasses/netflix-react/node_modules
my_problems/masterclasses/netflix-react-clone/node_modules
my_problems/masterclasses/netflix-react-clone/
my_problems/*/*.class
scratch/task-manager.zip
out