.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
}
